<div class=campaign-container>
  <div class="campaign-buttons">
    <md-button class="md-primary md-raised" 
        ng-click="$ctrl.edit($ctrl.camp.id)">
      Edit
    </md-button>
    <div ng-controller="ModalController as modal" id="popupContainer" ng-cloak>
      <md-button class="md-warn md-raised" 
          ng-click="modal.showAdvanced($event, $ctrl.camp, $ctrl.delete)">
        Delete
      </md-button>
    </div>
    <md-button class="md-primary md-raised" ng-href="#campaign/{{ $ctrl.camp.id }}">
      See more
    </md-button>
  </div>
  <div class="campaign-content">
    <span class="campaign-title">
      {{ $ctrl.camp.name }}
    </span>
    <div class="campaign-targets-container">
      <span class="campaign-target" ng-repeat="t in $ctrl.camp.targets">
       <!-- | limitTo: $ctrl.camp.quantity -->
        {{ t.name }}: {{ t.count }}
      </span>
    </div>
  </div>
  <div class="clear"></div>
</div>
<my-form ng-if="$ctrl.camp.show" type="$ctrl.type" campaign="$ctrl.campaign"
  on-update="$ctrl.editRecord(id,data)" on-cancel="$ctrl.cancel()"></my-form>
