<div ng-controller="campaignSingleController as $ctrl">
  <div class=campaign-solo>
    <div class="row">
      <div class="campaign-buttons">
        <md-button class="md-primary md-raised" 
            ng-click="$ctrl.edit($ctrl.camp.id)">
          Edit
        </md-button>
        <div ng-controller="ModalController as modal" id="popupContainer" ng-cloak>
          <md-button class="md-warn md-raised" 
              ng-click="modal.showAdvanced($event, $ctrl.camp, $ctrl.delete)">
            Delete
          </md-button>
        </div>
      </div>
      <div class="campaign-content">
          <span class="campaign-title">
            Campaign: {{ $ctrl.camp.name }}
        </span>
      </div>
    </div>
    <div class="row">
      <form ng-submit="$ctrl.addTarget(target,$ctrl.camp.id)">
        <div class="target-form md-inline-form">
          <md-input-container>
            <label for="label">Label</label>
            <input type="text" id="label" ng-model="target.name">
          </md-input-container>
          <md-button class="md-primary md-raised" ng-disabled="!target.name" type="submit">Add Target</md-button>
        </div>
      </form>
    </div>
    <div class="row" ng-repeat="t in $ctrl.camp.targets" >
      <target-record targ="t" opened="$ctrl.opened" on-delete="$ctrl.destroy(id)"></target-record>
    </div>
    <div class="clear"></div>
  </div>
  <my-form ng-if="$ctrl.camp.show" type="$ctrl.type" campaign="$ctrl.campaign"
    on-update="$ctrl.editRecord(id,data)" on-cancel="$ctrl.cancel()"></my-form>
</div>
