body {
	margin: 0;
	padding: 0;
}

.nav {
	margin-top: 0;
}

.wrapper {
	width: 80%;
	margin: auto;
}

.campaign-container {
	width: 80%;
	background-color: #eee;
	height: auto;
	margin: 15px auto;
	padding: 20px;
}

.campaign-container span {
	display: block;
}

.campaign-content, .campaign-targets {
	width: 80%;
	float: left;
}

.campaign-targets {
	margin-top: -10px;
}

.campaign-buttons {
	float: right;
}

.campaign-title {
  font-style: italic; 
  font-weight: bold;
  text-indent: 15px;
  text-transform: capitalize;
  padding-left: 20px;
  padding-bottom: 20px;
}

.clear {
	clear: both;
}

._form {
  width: 80%;
  padding: 20px;
  margin: 15px auto;
  background-color: #eee;
}

.campaign-target, .campaign-target-card {
	margin: 10px auto;
	background-color: #f2f2f2;
	padding: 10px;
	width: 200px;
}

.campaign-target-card {
	margin: 8px;
	float: left;
}

.cards-container {
	float: left;
}

.target-name {
  font-style: italic; 
  font-weight: bold;
}

.modal {
	padding: 25px;
}

.row {
	width: 90%;
	float: left;
	clear: both;
	margin: 10px auto;
	padding: 10px;
	background-color: #eee;
}

.search-row {
	width: 80%;
	height: auto;
	margin: 10px auto;
	padding: 0 20px;
	background-color: #eee;
}

.row-one {
	width: 80%;
	margin: 15px auto;
	padding: 20px;
}

.count {
	display: inline !important;
	font-style: italic; 
	font-weight: bold;
}

.campaign-solo {
	width: 80%;
	margin: 15px auto;
	padding: 20px;
}

.targets-container {
	margin: 15px auto;
	background-color: #eee;
	padding: 20px;
}

.target-form .md-primary.md-raised {
	margin-top: -25px;
}

.user-form {
	min-width: 400px;
 	max-width: 500px;
 	margin: auto;
}

.danger, .notice {
	background-color: #d9534f;
	padding: 15px;
	border-radius: 5px;
}

.notice {
	background-color: #5bc0de;
	width: 30%;
}

.chart-size {
	width: 35%;
	float: left;
}

.row-edit-form {
	width: 90%;
	float: left;
	clear: both;
	margin: 10px auto;
	padding: 10px;
}