<form ng-submit="ctrl.onSubmit(ctrl.data)" ng-controller="loginController as ctrl">
  <!-- <md-input-container class="md-block" flex-gt-sm> -->
    <label>email</label>
    <input ng-model="ctrl.data.email" type="text">
  <!-- </md-input-container> -->
  <!-- <md-input-container class="md-block" flex-gt-sm> -->
    <label>pass</label>
    <input ng-model="ctrl.data.password" type="password">
  <!-- </md-input-container> -->
    <!-- <md-button class="md-success md-raised" type="submit"> -->
    <button type="submit">Log in</button>
    <!-- </md-button> -->
</form>