<div ng-cloak>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Sign in" ng-click="$ctrl.tab('auth/sign_in')" ng-if="!$ctrl.logged"></md-tab>
      <md-tab label="Sign up" ng-click="$ctrl.tab('auth/sign_up')" ng-if="!$ctrl.logged"></md-tab>
      <md-tab label="Dashboard" ng-click="$ctrl.tab('dashboard')" ng-if="$ctrl.logged"></md-tab>
      <md-tab label="New campaign" ng-click="$ctrl.new()" ng-if="$ctrl.logged && !$ctrl.solo"
        md-on-deselect="$ctrl.cancel()"></md-tab>
      <md-tab label="Log out" ng-click="$ctrl.logout()" ng-if="$ctrl.logged"></md-tab>
    </md-tabs>
  </md-content>
</div>