<div ng-cloak>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.selectedIndex">
      <md-tab label="Sign in" ng-click="$ctrl.tab('auth/sign_in')" ng-if="$ctrl.active('auth')"></md-tab>
      <md-tab label="Sign up" ng-click="$ctrl.tab('auth/sign_up')" ng-if="$ctrl.active('auth')"></md-tab>
      <md-tab label="Dashboard" ng-click="$ctrl.tab('dashboard')" ng-if="!$ctrl.active('auth')"></md-tab>
      <md-tab label="Campaign" ng-if="$ctrl.displayCamp"></md-tab>
      <md-tab label="New campaign" ng-click="$ctrl.tab('new_campaign')" ng-if="!$ctrl.active('auth')"></md-tab>
      <md-tab label="Log out" ng-click="$ctrl.logout()" ng-if="!$ctrl.active('auth')"></md-tab>
    </md-tabs>
  </md-content>
</div>