<!-- <div ng-controller="dashboardController as dash"> -->
  <nav on-change="auth.tab(tab)" logged="true" on-logout="$ctrl.logout()" 
    on-new="$ctrl.new()" on-cancel="$ctrl.cancel()"></nav>
  <my-form ng-if="$ctrl.show" type="$ctrl.type" on-update="$ctrl.addRecord(data)"
    on-cancel="$ctrl.cancel()">
  </my-form>
  <div ng-if="$ctrl.newOne" class="notice">
    {{ $ctrl.newOne }}
  </div>
  <campaign-record ng-repeat="c in $ctrl.campaigns" camp="c" opened="$ctrl.opened"></campaign-record>
<!-- </div> -->
