<!DOCTYPE html>
<html>
  <head>
    <title>PixelApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div ng-app="pixel-app">
      <div ng-controller="authController as auth" class="wrapper">
        <nav on-change="auth.tab(tab)" on-logout="auth.logout()"></nav>
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
